.authWrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    border: solid 2px black;
    position: absolute;
    z-index: 20;
    top: calc(50vh - 250px);
    left: calc(50vw - 150px);
}
.closeButton {
    display: flex;
}
